---
layout: layout
title: "About"
---

<section class="content">
  <h1>Hi</h1>

  <p>Find my opinion on something... sometime around 9PM PST.</p>
  <p>I also post on <a href="https://dqdang.bearblog.dev/" target="_blank">here</a>. See my projects <a href="https://github.com/dqdang" target="_blank">here</a>.</p>

  <p>Send me a message:<br />
    <a href="mailto:dqdang17@gmail.com">email</a>
    <br />
    <a href="https://discord.com/channels/@me/dqd#0143" target="_blank">discord</a>
    <br />
    <a href="https://raw.githubusercontent.com/dqdang/dqdang.github.io/master/derek-dang.asc" target="_blank">PGP</a>
    <br />
    <a href="https://www.buymeacoffee.com/dqdang" target="_blank">coffee</a>
  </p>
</section>
